@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
    --color-primary: #3b82f6;
    /* Example primary color */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}